[SddmGreeterTheme]
Name=Synoptik
Description=Synoptik artwork background with a bottom-right login panel
Author=natepayn3
Copyright=2026, natepayn3
License=MIT
Type=sddm-theme
Version=1.0
QtVersion=6
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=synoptik
X-Synoptik=true
